$color-primary: #96bb7c;
$color-primary-light: #b9e798;
$color-primary-dark: #4f643f;
$color-primary-dark-2: #1c2416;

$color-secondary: #e08f62;
$color-secondary-light: #cc7351;
$color-secondary-dark: #663826;

$color-tertiary: #dbb04aff;
$color-tertiary-light: #f8ce6c;
$color-tertiary-dark: rgb(161, 130, 55);

$color-grey-light-1: #e7ebe0ff;
$color-grey-light-2: #afb3aa;

$color-grey-dark-1: rgb(74, 77, 72);

$max-width: 90vw;
$light-shadow: 0 2rem 6rem rbga(white, 0.5);

$logo-font: "Amatic SC", cursive;
$main-font: "Nunito", sans-serif;
