*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //  10px is 62.5% for 16px (default font size)
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(96deg, rgba(150, 187, 124, 1) 5%, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.9) 95%, rgba(224, 143, 98, 1) 95%);
  filter: grayscale(10%);
  background-position: cover;
  font-family: $main-font;

  display: grid;
  grid-template-rows: 1fr 80vh 1fr;
  grid-template-columns: [start] 15vw [container-start] 1fr [container-end] 15vw [end];
  grid-gap: 1.5rem;
}
