.login-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 70vh;
  width: 40vw;
  transform: scale(0);
  opacity: 0;
  z-index: 100;
  border-radius: 90% 5% 90% 90%;
  background-color: $color-primary-dark-2;
  transform-origin: top right;
  transition: all 0.5s cubic-bezier(0.83, -0.76, 0, 1.64);

  display: grid;
  grid-template-columns: 10vw 20vw 10vw;
  grid-template-rows: 1fr 5vh 25vh 5vh 1fr;
  grid-gap: 2rem;

  justify-items: center;

  // login form
  &__form {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: stretch;
    align-self: center;
  }
  &__heading {
    color: $color-tertiary;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__btn-fb {
    grid-row: 4/5;
    grid-column: 2/3;
    padding: 1.4rem;

    &:active {
      background-color: $color-tertiary;
      color: black;
    }

    font: inherit;
    font-weight: 700;
    font-size: 1.3rem;
  }
}
