.logo-text {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
  color: #96bb7c;
  letter-spacing: 0.9rem; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 1rem;
  text-align: center; }

.heading-2 {
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  color: #afb3aa; }

.heading-3 {
  font-size: 2rem;
  letter-spacing: 1.5rem;
  color: #afb3aa; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center; }

.mb-s {
  margin-bottom: 2rem; }

.mb-m {
  margin-bottom: 4rem; }

.mb-l {
  margin-bottom: 8rem; }

.mt-s {
  margin-top: 2rem; }

.mt-m {
  margin-top: 4rem; }

.mt-l {
  margin-top: 8rem; }

.pulse-scale-effect:hover {
  animation: pulse 1s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1.05); }

.pulse-scale-effect:focus, .pulse-scale-effect:active {
  background-color: #96bb7c;
  color: black;
  transform: scale(0.9); }

.btn-pressed-effect:hover {
  transform: scale(1.05); }

.btn-pressed-effect:focus, .btn-pressed-effect:active {
  transform: scale(0.9); }

.gradient-effect {
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(150, 187, 124, 0) 21%, #96bb7c 28%, #e08f62 48%, #f8ce6c 67%, rgba(150, 187, 124, 0) 82%);
  background-size: 550%;
  background-position: right;
  border: 0.5px solid #dbb04aff;
  transition: background-position 1s cubic-bezier(1, 0.885, 0.32, 1.2), background-color 0.1s; }
  .gradient-effect:hover {
    background-position: left;
    border: 0.5px solid #96bb7c;
    color: #96bb7c; }
  .gradient-effect:active {
    background-color: #96bb7c;
    color: black; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(150, 187, 124, 0.2); }
  100% {
    box-shadow: 0 0 0 20px rgba(219, 176, 74, 0); } }

@keyframes flip3 {
  0% {
    margin-top: -27rem; }
  5% {
    margin-top: -18rem; }
  33% {
    margin-top: -18rem; }
  38% {
    margin-top: -9rem; }
  66% {
    margin-top: -9rem; }
  71% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -27rem; } }

@keyframes fly {
  0% {
    transform: translate(-7rem); }
  20% {
    transform: translate(5rem) rotate(40deg) scale(0.5); }
  40% {
    transform: translate(25rem) rotate3d(0.5, 0.5, 0.5, 120rad); }
  60% {
    transform: translate(33rem); }
  80% {
    transform: translate(55rem); }
  100% {
    transform: translate(75rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(96deg, #96bb7c 5%, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.9) 95%, #e08f62 95%);
  filter: grayscale(10%);
  background-position: cover;
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-rows: 1fr 80vh 1fr;
  grid-template-columns: [start] 15vw [container-start] 1fr [container-end] 15vw [end];
  grid-gap: 1.5rem; }

.container {
  max-width: 90vw;
  height: 80vh;
  box-shadow: 0 2rem 6rem rbga(white, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
  grid-column: container-start / container-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 1fr) [col-end]);
  grid-template-rows: 6vh 25vh 25vh repeat(2, minmax(min-content, 1fr));
  grid-gap: 1.5rem; }

.header {
  grid-column: container-start / container-end;
  grid-row: 2/3;
  height: 5rem;
  margin: 0.5rem 1rem;
  z-index: 999;
  display: flex;
  position: relative; }
  .header__right {
    margin-right: auto;
    display: flex; }
    .header__right__logo {
      width: 4rem;
      height: 4rem;
      fill: #96bb7c;
      margin-right: 2rem; }
  .header__left__checkbox {
    display: none; }
  .header__left__login__button {
    z-index: 200;
    position: relative;
    display: block;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #b9e798;
    transition: all 0.1s ease;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 700; }
    .header__left__login__button--open {
      display: inline-block;
      color: black;
      position: absolute;
      top: 1.4rem;
      right: 5px;
      transition: all 0.3s ease; }
    .header__left__login__button--close {
      color: #663826;
      position: absolute;
      top: 1.4rem;
      right: 2rem;
      opacity: 0;
      transform: rotate(220deg);
      transition: all 0.3s ease; }
  .header__left__checkbox:checked + .login-nav {
    transform: scale(1);
    opacity: 1; }
  .header__left__checkbox:checked ~ .header__left__login__button .header__left__login__button--close {
    opacity: 1;
    transform: rotate(0) scale(1.6); }
  .header__left__checkbox:checked ~ .header__left__login__button .header__left__login__button--open {
    opacity: 0;
    transform: rotate(-220deg) scale(0.5); }

.footer {
  grid-column: container-start / container-end;
  grid-row: 3 / -1;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  font-size: 0.5rem; }

.btn {
  background-color: transparent;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 2rem 6rem rbga(white, 0.5);
  transition: all 0.3s ease, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875); }
  .btn--primary {
    border: 0.5px solid #96bb7c;
    color: #96bb7c; }
  .btn--secondary {
    border: 0.5px solid #e08f62;
    color: #e08f62; }
  .btn--tertiary {
    border: 0.5px solid #dbb04aff;
    color: #dbb04aff; }

.login-btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #dbb04aff;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(150, 187, 124, 0) 21%, #96bb7c 28%, #e08f62 48%, #f8ce6c 67%, rgba(150, 187, 124, 0) 82%);
  background-size: 550%;
  background-position: right;
  border: 0.5px solid #dbb04aff;
  transition: background-position 1s cubic-bezier(1, 0.885, 0.32, 1.2), background-color 0.1s, transform 0.3s cubic-bezier(0, 0.885, 0.32, 1.875); }
  .login-btn:hover {
    background-position: left;
    border: 0.5px solid #96bb7c;
    color: #96bb7c; }
  .login-btn:active {
    background-color: #96bb7c;
    color: black; }

.f-nav {
  font-size: 1.5rem; }
  .f-nav__list {
    list-style: none;
    display: flex;
    justify-content: center; }
  .f-nav__item {
    padding: 1.5rem;
    transition: all 0.4s;
    position: relative; }
    .f-nav__item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      transition: all 0.2s;
      background-color: #afb3aa; }
    .f-nav__item:hover::after {
      width: 100%;
      height: 1px; }
  .f-nav__link:link, .f-nav__link:visited {
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    color: #afb3aa; }

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .form__input {
    font: inherit;
    font-size: 1.5rem;
    color: #afb3aa;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    background-color: rgba(150, 187, 124, 0.05);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s; }
    .form__input::placeholder {
      font: "Nunito", sans-serif;
      font-size: 1.2rem;
      letter-spacing: 2px; }
    .form__input:focus, .form__input:active {
      border: none;
      outline: none;
      border-bottom: 2px solid #96bb7c; }
    .form__input:focus:invalid {
      border-bottom: 2px solid #e08f62;
      outline: none; }
  .form__label {
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block;
    transition: all 0.3s;
    color: #96bb7c;
    margin: 0.5rem 1rem 1rem 1rem; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem); }

.icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.5s ease; }
  .icon:hover {
    transform: scale(1.2); }
  .icon--fb {
    fill: #3b5998; }
  .icon--google {
    fill: #de5246; }
  .icon--info {
    fill: #b9e798; }
  .icon--embed2 {
    fill: #cc7351; }
  .icon--pacman {
    fill: #f8ce6c; }

.login-nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 70vh;
  width: 40vw;
  transform: scale(0);
  opacity: 0;
  z-index: 100;
  border-radius: 90% 5% 90% 90%;
  background-color: #1c2416;
  transform-origin: top right;
  transition: all 0.5s cubic-bezier(0.83, -0.76, 0, 1.64);
  display: grid;
  grid-template-columns: 10vw 20vw 10vw;
  grid-template-rows: 1fr 5vh 25vh 5vh 1fr;
  grid-gap: 2rem;
  justify-items: center; }
  .login-nav__form {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: stretch;
    align-self: center; }
  .login-nav__heading {
    color: #dbb04aff;
    grid-column: 2/3;
    grid-row: 2/3; }
  .login-nav__btn-fb {
    grid-row: 4/5;
    grid-column: 2/3;
    padding: 1.4rem;
    font: inherit;
    font-weight: 700;
    font-size: 1.3rem; }
    .login-nav__btn-fb:active {
      background-color: #dbb04aff;
      color: black; }

.homepage__animated-msg {
  grid-column: col-start 2 / col-end 4;
  grid-row: 2 / 3;
  align-self: center;
  margin-top: 10rem;
  color: #afb3aa; }
  .homepage__animated-msg span {
    font-family: "Amatic SC", cursive; }
  .homepage__animated-msg__words {
    overflow: hidden;
    position: relative;
    height: 65px; }
    .homepage__animated-msg__words ul {
      animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
    .homepage__animated-msg__words li {
      font-family: inherit;
      font-weight: 100;
      height: 45px;
      margin-bottom: 45px;
      display: block;
      list-style: none; }
      .homepage__animated-msg__words li:nth-child(1) {
        color: #e08f62; }
      .homepage__animated-msg__words li:nth-child(2) {
        color: #96bb7c; }
      .homepage__animated-msg__words li:nth-child(3) {
        color: #f8ce6c; }

.homepage__signup {
  grid-column: col-start 5 / col-end 8;
  grid-row: 2 / 5;
  align-self: center;
  justify-self: center;
  transition: all 0.2s; }
  .homepage__signup__text {
    align-self: flex-start;
    display: flex;
    color: #afb3aa;
    font-size: 1.5rem; }
    .homepage__signup__text span {
      padding: 1rem; }
    .homepage__signup__text::before, .homepage__signup__text::after {
      content: "";
      margin-top: 2rem;
      height: 1px;
      display: block;
      width: 90%;
      background-color: rgba(231, 235, 224, 0.3); }
  .homepage__signup__icon-box {
    display: flex;
    align-self: center;
    justify-content: space-around; }

.homepage__projectdetails {
  grid-column: col-start 1 / col-end 5;
  grid-row: 3 / 5;
  align-self: center;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5vw repeat(3, minmax(min-content, 15vw)) 5vw;
  justify-items: center;
  align-items: stretch;
  grid-gap: 1rem; }
  .homepage__projectdetails__info {
    grid-column: 2/3;
    position: relative; }
    .homepage__projectdetails__info::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      transition: all 0.2s;
      background-color: #96bb7c; }
    .homepage__projectdetails__info:hover::after {
      width: 100%;
      height: 1px; }
  .homepage__projectdetails__sourcecode {
    grid-column: 3/4;
    position: relative; }
    .homepage__projectdetails__sourcecode::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      transition: all 0.2s;
      background-color: #e08f62; }
    .homepage__projectdetails__sourcecode:hover::after {
      width: 100%;
      height: 1px; }
  .homepage__projectdetails__developer {
    grid-column: 4/5;
    position: relative; }
    .homepage__projectdetails__developer::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0;
      transition: all 0.2s;
      background-color: #dbb04aff; }
    .homepage__projectdetails__developer:hover::after {
      width: 100%;
      height: 1px; }
  .homepage__projectdetails__text {
    margin-top: 1rem;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.6;
    color: #afb3aa; }
